{% extends "auctions/layout.html" %}

{% block title %}{{category}}{% endblock %}

{% block body %}

<h3>Category: <span>{{category}}</span></h3>
<div class="listings_grid">
  {% for field in listings %}

  <div class="listing_cont">
    <div class="img_cont">
      {% if field.image_url %}
          <img src="{{field.image_url}}" alt="{{field.title}}" class="index_img">
      {% else %}
          <img src="https://t4.ftcdn.net/jpg/04/70/29/97/360_F_470299797_UD0eoVMMSUbHCcNJCdv2t8B2g1GVqYgs.jpg" alt="{{field.title}}" class="index_img">
      {% endif %}
    </div>
    <div class="listing_info">
      <div>
        <h5 class="index_title">{{field.title}}</h5>
        <p class="index_desc">{{field.description}}</p>
      </div>
      
        <p class="index_bid">Current bid: <b>${{field.current_bid}}</b></p>
      
        <a href="{% url 'listing' field.id %}">See more...</a>
      
    </div>
      
    </div>
    
    {% empty %}
      <h1>No listings in this category</h1>
    {% endfor %}

{% endblock %}