{% extends "auctions/layout.html" %} 

{% block title %}{{item.title}}{% endblock%} 

{% block body %}
    <div>
        {% if user.is_authenticated %}
        <form action="{%url 'add_watchlist' item.id %}" method="post">
            {% csrf_token %}
            {% if in_watchlist %}
                <button>Remove from watchlist</button>
            {% else %}
                <button>Add to watch list</button>
            {% endif %}
        </form>
        {% endif %}
        <h1>{{item.title}}</h1>
        {% if item.image_url %}
            <img class="rounded" style="max-width: 200px;" src="{{item.image_url}}" alt="{{item.title}}" >
        {% else %}
            <img class="rounded" style="max-width: 200px;" src="https://t4.ftcdn.net/jpg/04/70/29/97/360_F_470299797_UD0eoVMMSUbHCcNJCdv2t8B2g1GVqYgs.jpg" alt="no-photo">
        {% endif %}
        <p>{{item.description}}</p>
        <h4>Current bid</h4>
        {% if winner%}
            <h1>{{winner}}</h1>
        {% endif %}
        <p>$ {{item.current_bid}}</p>
        {% if bids %}
            <p>{{bids}} bid(s) so far.</p>
            {% if bidder %}
                <p>Your bid is current bid</p>
            {% endif %}
        {% else %}
            <p>No bids yet</p>
        {% endif %}

        {% if owner and is_active %}
            <form action="{% url 'close_bid' item.id%}" method="post">
                {% csrf_token %}
                <input type="submit" value="Close bid">
            </form>
        {% else %}
            <p>Auction has ended</p>
        {% endif %}

        {% if user.is_authenticated %}
        {% if not owner and is_active %}

        <h4>Place a bid</h4>
        <form action="{% url 'add_bid' item.id %}" method="post">
            {% csrf_token %}
            {{bid_form}}
            <input type="submit" value="Place bid">
        </form>
        {% endif %}
        {% endif %}

        <h4>Details</h4>
            <ul>
                <li>Listed by: {{item.creator}}</li>
                <li>Category: {{item.category}}</li>
            </ul>

        {% if user.is_authenticated %}
        <h4>add comment</h4>
        <form action="{% url 'add_comment' item.id%}" method="post">
            {% csrf_token %}
            {{comment_form}}
            <input type="submit" value="post comment">
        </form>
        {% endif %}
            
        <h4>Comments</h4>
        <ul>
            {% for comment in comments %}
                <li>{{comment.content}}</li>
            {% empty %}
                <li>No comments</li>
            {% endfor %}
        </ul>





    </div>
{% endblock %}
